@import "../../styles/themprovide.scss";
nav {
  color: $nav-col;
  display: flex;

  margin-top: 10px;
  padding: 10px 14px;
  .nav-header {
    display: flex;
  }
  .user-circle {
    height: 3em;
    width: 3em;

    background: linear-gradient(45deg, rgb(206, 73, 240), rgb(240, 165, 26));
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: auto;

    span {
      @include boldfont;
      color: $acc-color;
      font-size: x-large;
    }
  }

  .menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      display: inline;

      @include boldfont;

      a {
        cursor: pointer;
        color: $nav-col;
        padding: 4px 8px 20px;
        margin-right: 2rem;
        text-decoration: none;

        &:hover {
          color: hsl(338, 84%, 71%);
          border-bottom: 1px solid hsl(338, 84%, 71%);
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .menu {
    background-color: red;
    visibility: hidden;
  }
  nav {
    display: block;
  }
}
